<div class="container">
    <div class="row my-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-4">
                <div *ngFor="let i of userData.data" class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img src="{{i.avatar}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.first_name}}</h5>
                          <p class="card-text">{{i.last_name}}</p>
                          <p class="card-text">{{i.id}}</p>
                          <p class="card-text">{{i.email}}</p>
                          <a href="#" class="btn btn-primary">view</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>